.DS_Store

**/tunnel-options.sh
**/.env
**/traefik/http_auth
backup/
services.conf

traefik/custom/dynamic*.yaml
traefik/custom/custom-*.yaml
samples/custom*/*.yaml

config.yaml
services/custom/*.yaml
services/custom/*.yml
services/generated/*.yaml

authelia/*
.env.custom
*.env