deluge: enable
deluge-vpn: disable
flood: enable
plex: enable
plex-hardware-transcoding: disable
flaresolverr: enable
jackett: enable
prowlarr: enable
sonarr: enable
radarr: enable
bazarr: enable
lidarr: disable
readarr: disable
komga: disable
kavita: disable
ombi: disable
overseerr: enable
tautulli: enable
jdownloader: enable
jdownloader-vpn: disable
tdarr: disable
nextcloud: enable
portainer: enable
netdata: enable
duplicati: disable
syncthing: disable
heimdall: enable
gluetun: disable