deluge: enable
deluge-vpn: disable
flood: enable
plex: enable
plex-hardware-transcoding: disable
flaresolverr: enable
jackett: enable
prowlarr: enable
sonarr: enable
radarr: enable
bazarr: enable
lidarr: enable
readarr: false
komga: disable
kavita: disable
ombi: disable
overseerr: enable
tautulli: enable
jdownloader: enable
jdownloader-vpn: disable
tdarr: enable
nextcloud: enable
portainer: enable
netdata: enable
duplicati: enable
syncthing: disable
gluetun: disable