deluge: enable
flood: enable
plex: enable
flaresolverr: enable
jackett: enable
prowlarr: enable
sonarr: enable
radarr: enable
bazarr: enable
lidarr: enable
ombi: disable
overseerr: enable
tautulli: enable
jdownloader: enable
tdarr: enable
nextcloud: enable
portainer: enable
netdata: enable
duplicati: enable