<configuration version="11">
    <gui enabled="true" tls="false">
        <address>0.0.0.0:8384</address>
    </gui>
    <options>
        <listenAddress>0.0.0.0:22000</listenAddress>
        <startBrowser>false</startBrowser>
        <upnpEnabled>false</upnpEnabled>
    </options>
</configuration>
